/* base color */
:root {
  --body-bg-color: #fff;
  --content-bg-color: #f5f5f5;
  --card-bg-color: #f5f5f5;
  --text-color: #555;
  --blockquote-color: #666;
  --link-color: #29d;
  --link-hover-color: #222;
  --brand-color: #222;
  --brand-hover-color: #222;
  --table-row-odd-bg-color: #f9f9f9;
  --table-row-hover-bg-color: #f5f5f5;
  --menu-item-bg-color: #ddd;
  --btn-default-bg: transparent;
  --btn-default-color: var(--link-color);
  --btn-default-border-color: var(--link-color);
  --btn-default-hover-bg: transparent;
  --btn-default-hover-color: var(--link-hover-color);
  --btn-default-hover-border-color: var(--link-hover-color);
  --highlight-background: #282c34;
  --highlight-foreground: #abb2bf;
  --highlight-gutter-background: #353941;
  --highlight-gutter-foreground: #9da4b1;
  --code-font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* TOC */
.toc-icon {
  position: fixed;
  right: 10px;
  height: 30px !important;
  color: #555;
}

.toc-popover-wrap {
  padding: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-user-select: none;
  user-select: none;
}

.toc-list ul {
  line-height: 1.5;
  padding: 0 15px;
}

.toc-list ul li a {
  text-decoration: none;
  color: #61afef;
  line-height: 1.5;
  display: block;
}
.toc-list ul li a:hover {
  color: #e06c75;
  cursor: pointer;
}

.toc-list > ul {
  padding-left: 0;
}
.toc-popover-wrap ul li {
  list-style: none;
}
.toc-popover-wrap .popover-inner {
  max-height: 500px;
  overflow: auto;
}

/* container */
.rmdcm5-container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 60px;
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.5;
  min-height: 100%;
  transition: padding 0.2s ease-in-out;
  color: var(--text-color);
}

/* scrollbar */
.rmdcm5-container .table-container.line::-webkit-scrollbar,
.toc-popover-wrap .popover-inner::-webkit-scrollbar,
.codeWrapper::-webkit-scrollbar,
.rmdcm5-container::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

.rmdcm5-container .table-container.line::-webkit-scrollbar-track,
.codeWrapper::-webkit-scrollbar-track,
.rmdcm5-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.toc-popover-wrap .popover-inner::-webkit-scrollbar-thumb,
.rmdcm5-container::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.toc-popover-wrap .popover-inner::-webkit-scrollbar-thumb,
.rmdcm5-container .table-container.line::-webkit-scrollbar-thumb,
.codeWrapper::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #f0f0f080;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

/* task list style */
.rmdcm5-container ul.contains-task-list {
  list-style: none;
}

.rmdcm5-container ul.contains-task-list li {
  list-style: none;
}

.rmdcm5-container .mermaid .svg-container {
  text-align: center;
}

/* alert area */
.rmdcm5-container .alert-default p,
.rmdcm5-container .alert-primary p,
.rmdcm5-container .alert-info p,
.rmdcm5-container .alert-success p,
.rmdcm5-container .alert-warning p,
.rmdcm5-container .alert-danger p {
  padding: 4px 8px;
}
.rmdcm5-container .alert-default {
  background: #f0f0f0;
  border-radius: 4px;
}
.rmdcm5-container .alert-primary {
  background: #efe6f7;
  border-radius: 4px;
}

.rmdcm5-container .alert-info {
  background: #e5f2f8;
  border-radius: 4px;
}

.rmdcm5-container .alert-success {
  background: #e7f4e9;
  border-radius: 4px;
}

.rmdcm5-container .alert-warning {
  background: #fcf6e1;
  border-radius: 4px;
}

.rmdcm5-container .alert-danger {
  background: #fae8eb;
  border-radius: 4px;
}

/* code block */
.rmdcm5-container .code-highlight {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.rmdcm5-container .code-highlight .codeWrapper {
  overflow-x: auto;
  font-size: 16px;
}

.rmdcm5-container .code-highlight .lang-label {
  position: absolute;
  right: 10px;
  top: 6px;
  opacity: 1;
  transition: opacity 0.4s;
}

.rmdcm5-container .code-highlight .copy-btn {
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: 10px;
  top: 6px;
  line-height: 18px;
  padding: 4px 8px;
  background-color: var(--highlight-gutter-background);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.4s;
}

.rmdcm5-container .code-highlight .copy-btn:hover {
  cursor: pointer;
  background-color: #3e434c;
}

.rmdcm5-container .code-highlight:hover .copy-btn {
  opacity: 1;
}

.rmdcm5-container .code-highlight:hover .lang-label {
  opacity: 0;
}

.rmdcm5-container .code-highlight .codeWrapper table {
  border: 0;
  margin: 0;
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.rmdcm5-container .code-highlight .codeWrapper table td {
  padding: 0;
}

.rmdcm5-container .code-highlight .codeWrapper pre {
  margin: 0;
  padding: 10px;
  tab-size: 4;
}

.rmdcm5-container .code-highlight,
.rmdcm5-container .code-highlight .codeWrapper pre {
  font-family: var(--code-font-family);
}
.rmdcm5-container .code-highlight .codeWrapper .gutter {
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
}
.rmdcm5-container .code-highlight .codeWrapper .gutter pre {
  background: var(--highlight-gutter-background);
  color: var(--highlight-gutter-foreground);
  text-align: right;
}

/* table */
.rmdcm5-container .table-container.line {
  width: 100%;
  margin-bottom: 20px;
  overflow: auto;
}

.rmdcm5-container .table-container > table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.875em;
  width: 100%;
  /* display: block; */
  overflow: auto;
}

.rmdcm5-container .table-container > table td {
  word-break: break-word;
  min-width: 60px;
}

.rmdcm5-container .table-container > table tbody tr:nth-of-type(odd) {
  background: var(--table-row-odd-bg-color);
}

.rmdcm5-container .table-container > table tbody tr:hover {
  background: var(--table-row-hover-bg-color);
}

.rmdcm5-container .table-container > table caption,
.rmdcm5-container .table-container > table th,
.rmdcm5-container .table-container > table td {
  padding: 8px;
}

.rmdcm5-container .table-container > table th,
.rmdcm5-container .table-container > table td {
  border: 1px solid #ddd;
  border-bottom: 3px solid #ddd;
}
.rmdcm5-container .table-container > table th {
  font-weight: 700;
  padding-bottom: 10px;
}

.rmdcm5-container .table-container > table td {
  border-bottom-width: 1px;
}

.rmdcm5-container h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.rmdcm5-container hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.rmdcm5-container a {
  background: transparent;
}

.rmdcm5-container abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

.rmdcm5-container b,
.rmdcm5-container strong {
  font-weight: bolder;
}

.rmdcm5-container code,
.rmdcm5-container kbd,
.rmdcm5-container samp {
  background: #f0f0f0;
  color: #fc6423;
  border-radius: 3px;
  padding: 2px 4px;
  overflow-wrap: break-word;
  font-family: var(--code-font-family);
}

.rmdcm5-container code[class^='language-'] {
  background: none;
  color: unset;
}

.rmdcm5-container small {
  font-size: 80%;
}

.rmdcm5-container sub,
.rmdcm5-container sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: button;
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

/* checkbox */
input[type='checkbox'] {
  width: 13px;
  height: 13px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 11px;
  margin-right: 10px;
  position: relative;
}

input[type='checkbox']:checked::before {
  content: '\2713';
  background-color: #0080ff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid #0080ff;
  border-radius: 2px;
  color: #ffffff;
  font-size: 7px;
  font-weight: initial;
  box-sizing: border-box;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  outline-offset: -2px;
  appearance: textfield;
  -webkit-appearance: textfield;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

/* header */
.rmdcm5-container h1,
.rmdcm5-container h2,
.rmdcm5-container h3,
.rmdcm5-container h4,
.rmdcm5-container h5,
.rmdcm5-container h6 {
  /* font-family: Lato, 'PingFang SC', 'Microsoft YaHei', sans-serif; */
  font-weight: bold;
  line-height: 1.5;
  margin: 20px 0 15px;
}

.rmdcm5-container h1 {
  font-size: 1.5em;
}

.rmdcm5-container h2 {
  font-size: 1.375em;
}

.rmdcm5-container h3 {
  font-size: 1.25em;
}

.rmdcm5-container h4 {
  font-size: 1.125em;
}

.rmdcm5-container h5 {
  font-size: 1em;
}

.rmdcm5-container h6 {
  font-size: 0.875em;
}

.rmdcm5-container p {
  margin: 0 0 20px;
}

/* link */
.rmdcm5-container a {
  border-bottom: 1px solid #ccc;
  color: var(--link-color);
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  border-bottom-color: var(--link-hover-color);
}

/* split line */
.rmdcm5-container hr {
  background-image: repeating-linear-gradient(-45deg, #ddd, #ddd 4px, transparent 4px, transparent 8px);
  border: 0;
  height: 3px;
  margin: 40px 0;
}

/* other tag */
.rmdcm5-container iframe,
.rmdcm5-container img,
.rmdcm5-container video,
.rmdcm5-container embed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.rmdcm5-container blockquote {
  border-left: 4px solid #ddd;
  color: var(--blockquote-color);
  margin: 0;
  padding: 0 15px;
}

.rmdcm5-container blockquote cite::before {
  content: '-';
  padding: 0 5px;
}

.rmdcm5-container dt {
  font-weight: bold;
}

.rmdcm5-container dd {
  margin: 0;
  padding: 0;
}

.rmdcm5-container ul li {
  list-style: disc;
}
