.button {
  width: 75px;
  height: 35px;
  color: #666;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 3px;
  background-color: #fff;
  transition: 'background' 300ms ease-out;
}

.button:hover {
  background-color: #f5f5f5;
}

.link-input {
  color: #999;
  padding: 8px;
  border: 1px solid #ddd;
  outline: none;
  width: 200px;
}

.title {
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 4px 8px;
  border-bottom: 1px solid #cccccc66;
}

.file {
  padding: 6px 12px;
  height: 20px;
  line-height: 20px;
  position: relative;
  cursor: pointer;
  color: #666;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.file input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}

.file:hover {
  color: #666;
  background: #f5f5f5;
  border-color: #ccc;
  text-decoration: none;
}
