.CodeMirror-wrap {
  font-family: SFMono-Regular, Consolas;
  font-size: 1em;
  line-height: 1.5;
  min-height: 100%;
}

.rmdcm5-editor {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.rmdcm5-editor input {
  outline: none;
  background-color: #1b1d23;
  border: none;
  color: #abb2bf;
  height: 25px;
  padding: 0px 6px;
}

.rmdcm5-editor .search button,
.rmdcm5-editor .replace button {
  background-color: transparent;
  border: none;
  color: #abb2bf;
  cursor: pointer;
  height: 25px;
  border-radius: 4px;
}
.rmdcm5-editor .search button {
  width: 25px;
}

.rmdcm5-editor .search button:hover,
.rmdcm5-editor .replace button:hover {
  background-color: #33373b;
}

.rmdcm5-editor .search .search-input .search-result {
  display: inline-block;
  font-size: 14px;
  min-width: 100px;
  padding-left: 5px;
}

.rmdcm5-editor .search-replace-pannel {
  position: absolute;
  background-color: #21252b;
  padding: 6px 10px;
  z-index: 999;
  top: 40px;
  right: 40px;
  color: #abb2bf;
}

.rmdcm5-editor .search-replace-pannel .search {
  display: flex;
  justify-content: space-between;
}
.rmdcm5-editor .search-replace-pannel .replace .replace-input {
  display: flex;
}

.rmdcm5-editor .search-replace-pannel .search {
  margin-bottom: 3px;
}
